.cv {
    
    margin: 0 auto;

    @media (min-width: $smallScreen) {
      margin-left: 20vw;
    }

    &__header {
      display: grid;
      justify-content: center;
      font-size: 3.5rem;
      
      @media (min-width: $smallScreen) {
        margin-left: -20vw;
      }
    }
  }


.exp {
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
  margin: 0 auto 50px;

  &__header {
    font-size: 2rem;
  }

  &__text {
    font-size: 1.25rem;
    max-width: 900px;
  }

  &__projects-list {
    line-height: 1.4rem;
    width: 70%;
    padding-left: 10px;
  }

  &__project {
    line-height: 1.4rem;
    margin-bottom: 1.25rem;
    max-width: 700px;
    @media (max-width: $smallMobile) {
      min-width: 80vw;
    }
  }

  &__intern-list {
    line-height: 1.4rem;
    width: 70%;
    padding-left: 10px;
  }

  &__intern {
    line-height: 1.4rem;
    margin-bottom: 1rem;
    @media (max-width: $smallMobile) {
      min-width: 80vw;
    }
  }
}


.skills {
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
  margin: 0 auto 50px;
  

  &__header {
    font-size: 2rem;
  }

  &__subheader {

  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    grid-column-gap: 60px;

    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
    }

    &-item {
      font-size: 1.2rem;
      list-style-type: none;
      margin-bottom: 1rem;
      padding: 11px 0 11px 22px;
      position: relative;

      &::before {
        content: '';
        background: url('../../assets/content/cv/img/check-green.svg');
        display: block;
        height: 16px;
        left: 0;
        margin-top: 2px;
        position: absolute;
        width: 16px;
        top: 12px;
        
        @media (max-width: $smallMobile) {
          margin-top: 0;
        }
      }

      }

      &-item--blue {
        &::before {
          background: url('../../assets/content/cv/img/check-blue.svg');
        }
      }
      @media (max-width: $smallMobile) {
        padding-left: 0;
      }
    }
  }
      
  

.edu {
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
  margin: 20px auto 80px;

  &__header {
    font-size: 2rem;
  }

  &__text {
    font-size: 1.25rem;
  }
}


.science {
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 160px;

  &__header {
    font-size: 2rem;
  }

  &__text{
    font-size: 1.25rem;
    max-width: 900px;
  }

  &__list{
    line-height: 1.4rem;
    width: 80%;
    padding-left: 10px;
  }

  &__list-item {
    line-height: 1.4rem;
    margin-bottom: 1.25rem;
    max-width: 800px;
    @media (max-width: $smallMobile) {
      min-width: 80vw;
    }
  }
}
