---
layout: default
refactor: true
panel_includes:
tail_includes:
  - comments
---

<!--{% include lang.html %}-->

<article class="px-1">
  <header>
    <h1 data-toc-skip>{{ page.title }}</h1>

    <div class="post-meta text-muted">
      <!-- published date removed -->
      <!-- lastmod date removed -->

      {% if page.image %}
        {% capture src %}src="{{ page.image.path | default: page.image }}"{% endcapture %}
        {% capture class %}class="preview-img{% if page.image.no_bg %}{{ ' no-bg' }}{% endif %}"{% endcapture %}
        {% capture alt %}alt="{{ page.image.alt | xml_escape | default: "Preview Image" }}"{% endcapture %}

        {% if page.image.lqip %}
          {%- capture lqip -%}lqip="{{ page.image.lqip }}"{%- endcapture -%}
        {% endif %}

        <div class="mt-3 mb-3">
          <img {{ src }} {{ class }} {{ alt }} w="1200" h="630" {{ lqip }}>
          {%- if page.image.alt -%}
            <figcaption class="text-center pt-2 pb-2">{{ page.image.alt }}</figcaption>
          {%- endif -%}
        </div>
      {% endif %}

      <div class="d-flex justify-content-between">
        <!-- read time removed -->
      </div>
      <!-- .d-flex -->
    </div>
    <!-- .post-meta -->
  </header>

  <br> <br>
  <hr>

  {%if page.repos or page.demo%}
    <div class="project-details">
      {%if page.repos %}
          <h3>GitHub</h3>
            <ul style="list-style-type: none; margin-left: 0; padding-left: 0;">
            {% for repo in page.repos %}
              <li> <a target="_blank" href="{{repo}}">{{ repo }}</a></li>
            {% endfor %}
          </ul>
      {% endif %}

      {%if page.demo %}
          <h3>Demo</h3>
          <ul style="list-style-type: none; margin-left: 0; padding-left: 0;">
          {% for demo in page.demo %}
            <li> <a target="_blank" href="{{demo}}">{{ demo }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}

      </div>
  {% endif %}

  <hr>

  <div class="post-content">
    {{ content }}
  </div>

  <!-- Contact section, categories, tags, and sharing removed -->
</article>
