---
layout: default
refactor: true
---

<!--{% include lang.html %}-->


{% assign all_projects = site.posts | where_exp: 'item', 'item.project == true' %}

{% assign pinned_projects = all_projects | where_exp: 'item', 'item.pin == true' %}
{% assign unpinned_projects = all_projects | where_exp: 'item', 'item.pin != true' %}

{% assign projects = pinned_projects | concat: unpinned_projects %}

<h1 class="mb-4">Projekty</h1>

<div id="blog-list" class="flex-grow-1 px-xl-1">
  <div class="row row-cols-1 row-cols-md-2 g-5">
  {% for project in projects %}

<!--  moje-->
  {% if project.visible != false %}
    <div class="col">
      <article class="card-wrapper card h-100">
        <a href="{{ project.url | relative_url }}" class="post-preview">
          <div class="card-body d-flex flex-column">
            <h1 class="card-title my-2 mt-md-0">{{ project.title }}</h1>

            <div class="card-text content mt-0 mb-3">
                <p> <b>TL;DR:</b>
                  {% include no-linenos.html content=project.tldr %}
                  {{ content | markdownify | strip_html | truncate: 200 | escape }}
                </p>
            </div>

            <!-- Images, categories, tags, and technologies removed -->
          </div>
          <!-- .card-body -->
        </a>
      </article>
    </div>
<!--  moje-->
  {% endif %}

  {% endfor %}
  </div>
</div>
<!-- #post-list -->

<!--{% if paginator.total_pages > 1 %}-->
<!--  {% include post-paginator.html %}-->
<!--{% endif %}-->
