// Colors:
$bigStone: #141e34;
$bigStoneTransparent: #141e346f;
$bigStoneVeryTransparent: #141e3404;

$black: #000;
$blue: #2550c9;
$grey: #00000080;
$lightGrey: rgba(222, 226, 231, 0.452);
$white: #fefefe;
$niceRed: #f25252;

// Screen sizes:
$bigScreen: 1700px;
$smallScreen: 1100px;
$tablet: 960px;
$mobile: 740px; 
$smallMobile: 480px; 